* {
    margin: 0 ;
    box-sizing: border-box;
    font-family: Nunito, Ubuntu, serif;
}
body {
    background: #f5d79a;
    color: #efefef;
    display: grid;
    place-items: center;
}
nav {
    font-size: 1.5em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    height: 100vh;
    position: fixed;
    overflow: auto;
    left: 0;
}
header {
    margin-top: 10vh;
}
h1,h2 {
    font-family: Rubik, Ubuntu, sans-serif; 
}
h1 {
    color: #232323;
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
li > a {
    color: #efefef;
    display: block;
    width: 8vw;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;  
    background: #023612;  
    border-right: 0.5vw solid #634314;
}
nav li:last-child {
    border-bottom: 0.5vw solid #634314;
}
li > a:hover {
    background: #b03f70;
    color: #efefef;
}
img {
    height: 25vh;
    margin-left: 10vh;
    border-radius: 1vh;
}
span.quote {
    font-style: italic;
    font-weight: bold;
    color: yellowgreen;
    white-space: pre-wrap;
}
span.property {
    color: #d1a954;
}
span.value {
    color: #e339a5;
}
.board {
    position: relative;
    width: 80vw;
    background: #023612;
    border: 2vw solid #634314;
    border-radius: 2%;
    padding: 5vh 10vh;
    margin-top: 15vh;
}
.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board p {
    font-size: 1.25em;
    margin-top: 4vh;
}
#html {
    border: white solid 0.5vw;
}

.board li {
    font-size: 1.25em;
}